<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <a href="/"><img class = "logo" src="../images/Logo.jpg" alt=""></a>
    
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/user">My Profile</a>
        <a href="/tattoos">Share a tattoo</a>

        <div class="dropdown">
            <button class="dropbtn">Categories
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content" name="category" >
                <a href="/category/floral">FLORAL</a>
                <a href="/category/animals">ANIMALS</a>
                <a href="/category/nature">NATURE</a>
                <a href="/category/food">FOOD</a>
                <a href="/category/geometric">GEOMETRIC</a>
                <a href="/category/lettering">LETTERING</a>
                <a href="/category/portrait">PORTRAIT</a>
                <a href="/category/other">OTHER</a>
            </div>
        </div>



        <% if (!userId) {%>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up</a>
        <% } else { %> 
            <form action="/logout" method="post">
            <input type="hidden" name="_method" value="delete">
            <button class="logout-btn">Logout</button>
            </form>
        <% } %>            

    </div>
    
    <%- body %>

    <footer>
        <p>&copy; 2023 Fine Line Tatouage</p>
    </footer>

</body>
</html>