
<div class="form">
    <h3>PLEASE LOGIN</h3>
    <form action="/login" method="post">
        <input type="email" name="email" placeholder="EMAIL">
        <input type="password" name="password" placeholder="PASSWORD">
        <button>Login</button>
        <p>If you don't have an account, <a href="/signup">SIGN UP HERE</a>.</p>
    </form>
</div>
