<img class="banner" src="../images/Banner.png" alt="">

<div class="form">
    <h2>SHARE A TATTOO</h2>

    <form action="/tattoos" method="post">
        <input type="text" name="title" placeholder="TITLE OF POST">
        <input type="text" name="image_url" placeholder="IMAGE URL">
        <input type="text" name="artist" placeholder="TATTOO ARTIST">

        <select name="category" id="category">
            <option selected="true" disabled="true">CATEGORY</option>
            <option value="floral">FLORAL</option>
            <option value="animal">ANIMAL</option>
            <option value="nature">NATURE</option>
            <option value="food">FOOD</option>
            <option value="geometric">GEOMETRIC</option>
            <option value="lettering">LETTERING</option>
            <option value="portrait">PORTRAIT</option>
            <option value="other">OTHER</option>
        </select>


        <button class="share-btn">Share</button>
    </form>
</div>