<div class="form">

    <h3>Sign Up</h3>

    <form action="/signup" method="post">
        <input type="text" name="email" placeholder="EMAIL">
        <input type="text" name="username" placeholder="USERNAME">
        <input type="password" name="password" placeholder="PASSWORD">
        <button>Sign Up</button>
    </form>

</div>