*{
    box-sizing: border-box;
    /* border: solid red 1px; */
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    display: block;
    margin: auto;
}

a { 
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color:blue;
}

a:hover {
    color:blueviolet;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgb(209, 200, 195);
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.back-to-top {
    margin: 0px 0px;
}

.footer-link {
    margin-block: auto; 
}

.header {
    display: flex;
}

.grid-image {
    width: 100%;
    margin-bottom: 20px;
}

.grid-image:hover {
    opacity: 50%;
}

.show-image {
    width: 100%;
}

.logo {
    width: 60%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.tattoo-title {
    margin-top: 0;
}

.login-btn {
    font-size: 13px;
}

.signup-btn {
    font-size: 13px;
}

.logout-btn {
    border: none;
    display: inline;
    background: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
    cursor: pointer;
    padding: 14px 16px;
}

.like-btn, .dislike-btn {
    text-align: center;
    border: 2px solid black;
    height: 30px;
    width: 30px;
    border-radius: 50%;

    padding: 0;
    padding-top: 4px;
    margin: 0 auto;
}

.like-btn {
    background-color: mistyrose;
}

.like-btn:hover {
    background-color: red;
}

.dislike-btn {
    background-color: red;
}

.dislike-btn:hover {
    background-color: mistyrose;
}

/* .like-btn:active {
    background-color: red;
} */
  
.form {
    width: 50%;
    border: 2px solid black;
    margin: 0 auto;
}

input {
    display: block;
    width: 50%;
}

.mob-nav {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(209, 200, 195);
    margin-bottom: 20px;

}

.nav {
    font-size: 13px;
}

#nav {
    font-size: 13px;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: lightgray;
}

.logout-btn:hover{
    background-color: lightgray;
}
  
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    /* padding: 12px 16px; */
    text-decoration: none;
    display: block;
    text-align: left;
}
  
/* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
}



@media (min-width: 40rem) {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
        column-gap: 20px;
    }
    .logo {
        width: 30%;
    }
    .show-wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
}

@media (min-width: 60rem) {
    main {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .logo {
        width: 30%;
    }
    .show-wrapper {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
}

@media (max-width: 760px) {
    .navbar {
        display: none;
    }

    .mob-nav {
        display: block;
        background-color: rgb(209, 200, 195);
    }
    
    /* Links inside the navbar */
    .mob-nav a, .mob-nav label{
        color: black;
        /* text-align: center; */
        padding: 5px 8px;
        text-decoration: none;
    }

    .mob-nav label {
        margin-top: 10px;
    }
    
  
  /* The dropdown container */
.dropdown-mob {
    /* overflow: hidden; */
}
  
/* Dropdown button */
.dropdown-mob .dropbtn-mob {
    font-size: 16px;
    border: solid black 1px;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    /* margin: 0; Important for vertical align on mobile phones */
}

.dropbtn-mob {
    width: 100%;
}
  
/* Add a red background color to navbar links on hover */
.mob-nav a:hover, .dropdown-mob:hover .dropbtn-mob{
    background-color: lightgray;
}

.logout-btn:hover{
    background-color: lightgray;
}
  
/* Dropdown content (hidden by default) */
.dropdown-content-mob {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 80%;
    margin: 0 auto;
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* z-index: 1; */
}
  
/* Links inside the dropdown */
    .dropdown-content-mob a, .dropdown-content-mob label {
        color: black;
        text-decoration: none;
        display: block;
        text-align: center;     
    }
  
/* Show the dropdown menu on hover */
    .dropdown-mob:hover .dropdown-content-mob {
        display: block;
    }

    ul {
        list-style-type: none;
        padding-left: 0px;
        border-top: 1px black solid;
        border-bottom: 1px black solid;
        margin-top: 0;
    }

    .logout-btn {
        width: 100%;
        margin: 0 auto;
    }


}